<div class="span12">
  <h1>Services and Statistics</h1>
  <%= render 'services_table', :locals => { :services => @services } %>
</div>

<div class="actions link-large">
  <%= link_to "Add a service", new_service_path, :class => "btn" %>
</div>