<%= form_for [@commentable, Comment.new] do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.text_area :content, :placeholder => "Comment on this event", :class => "span8", :rows => 2 %>
  </p>
  <p><%= f.submit "Submit", :class => 'btn' %></p>
<% end %>