<%= form_for @comment, html: { class: "well" } do |f| %>   

  <div class="field">
    <%= f.text_area :content, placeholder: "Write a comment...", 
        class: "span6", rows: 4 %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: 'btn' %>
  </div>

<% end %>