<h1>Status Types</h1>

<div class="span6 offset3">
    <%= render @statuses %>
</div>

<% if allow? "statuses", "new" %>
  <div class="span12">
    <p>
      <%= link_to "Create a new status", new_status_path, :class => "btn" %>
    </p>
  </div>
<% end %>