<div id="status">
  <h3>Showing <%= pluralize @events.count, 'Event' %> With The Status: <%= @status.value.capitalize %></h3>
  <div id="events">
    <%= render @events %>
  </div>
  
  <%= will_paginate @events %>
</div>