<div id="assignment_<%= task_id %>" class="assignment">
  <%= form_for @assignment, :html => { :method => :delete,  :class => 'inline' }, :remote => true do |f| %>
    <%= f.submit "Unaccept Task", :class => "btn btn-large btn-danger" %>
  <% end %>
</div>