<h1>Network List</h1>
<h4 class="admin"><%= link_to 'Create a new network', new_network_path %></h4>

<table class="table table-bordered table-hover">
  <tr>
    <th>Network Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @networks.each do |network| %>
    <tr>
      <td><%= network.name %></td>
      <td><%= link_to 'Edit', edit_network_path(network) %></td>
      <td><%= link_to 'Delete', network, method: :delete, data: { confirm: 'Are you sure?' }, :class => "danger" %></td>
    </tr>
  <% end %>
</table>