<%= render partial: "problems/problem_description", locals: { problem: @event.problem } %>

<div class="actions">
  <ul>

    <% if allow? "events", "edit", @event %>
      <li>
        <%= link_to 'Edit Event', edit_event_path(@event) %>
      </li>
    <% end %>

    <% if allow? "events", "destroy", @event %>
      <li>
        <%= link_to 'Delete Event', event_path(@event), method: :delete, 
        data: { confirm: "Are you sure?" }, class: "danger" %>
      </li>
    <% end %>

  </ul>
</div>

<%= render partial: "comments/comments", locals: { commentable: @event.problem } %>