<h1><%= @server_location.name %></h1>
<h3>Server Location</h3>
<br />

<h4>Notes</h4>
<p><%= @server_location.notes.blank? ? "No notes provided" : markdown(@server_location.notes) %></p>
<br/>

<h4>Servers</h4>

<table class="table">
  <tr>
    <th>Server Name</th>
    <th>Server Type</th>
  </tr>
  <% @server_location.servers.order(:name).each do |server| %>
    <tr>
      <td><%= link_to server.name, server %></td>
      <td><%= server.type.titlecase %></td>
    </tr>
  <% end %>
</table>