<h1>User List</h1>
<h4 class="admin">
  <%= link_to 'Create a new user', new_user_path %>
</h4>

<%= render partial: "simple_search", locals: { path: users_path } %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email Address</th>
      <th class="admin"></th>
      <th class="admin"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate @users %>