<div class="span12">
  
  <h1>Users</h1>
  
  <div id="users">
    <%= render @users %>
  </div>
  
  <% if allow? "users", "new" %>
    <p class="centered">
      <%= link_to 'Add a user', new_user_path, :class => 'btn' %>
    </p>
  <% end %>
</div>