<h2>Users</h2>
<hr>
<br>
<div class="user">
  <table class="table">
    <thead>
      <th>Username</th>
      <th>Member Since</th>
      <th>Problems Reported</th>
      <th>Problems Resolved</th>
      <th>Subscriptions</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>

<p class="centered">
  <%= link_to 'Add a user', new_user_path, :class => 'btn' %>
</p>