<h1>User List</h1>
<% if allow? "users", "new" %>
  <h4><%= link_to 'Create a user', new_user_path %></h4>
<% end %>
<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</div>

<%= will_paginate @users %>