<div class="span4 offset4">
  <div id="manage_links">
    <h1>Management Links</h1>
    <ul>
      <li><%= link_to "User Management", users_path %></li>
      <li><%= link_to "Events and Problems", events_path %></li>
      <li><%= link_to "Applications and Services", services_path %></li>
      <li><%= link_to "Status Management", statuses_path %></li>
    </ul>
  </div>
</div>