<div id="event_status">
  <p>This event is currently open. To mark this as resolved, click the button below.</p>
  <div class="actions">
    <%= link_to 'Mark As Resolved', new_event_resolution_path(event), 
    :class => "btn btn-large btn-success" %>
  </div>
</div>