<% if @unresolved_events.empty? %>

  <div id="event">
    <h2>Currently, there are no problems reported</h2>     
    <% unless Event.all.empty? %>
      <h4 class="green">
        ( It's been <%= time_ago_in_words(Event.last.resolution.resolved_at) %> since the last reported problem )
      </h4>
    <% end %>
  </div>
  
<% else %>
  <h2>Unresolved Events</h2>
  <% @unresolved_events.each do |event| %>
    <%= render :partial => "events/unresolved_event", :locals => { event: event } %>
  <% end %>
<% end %>