<% if @unresolved_events.empty? %>
  <div class="row">
    <div class="span12">
      <h1>Currently, there are no problems reported</h1>
      <% unless @last_resolved_event.nil? %>
        <h4 style="color:green">
          ( It's been <%= time_ago_in_words(@last_resolved_event.resolution.resolved_at) %> since the last reported problem )
        </h4>
      <% end %>
      <br /> 
      <%= link_to "Report a problem", new_event_path, :class => "btn btn-large btn-danger" %>
    </div>
  </div>
<% else %>
  <h1>Unresolved Problems</h1>
  <br />
  <h4><%= link_to "Report another problem", new_event_path %></h4>
  <br />
  
  <div id="events">
    <%= render @unresolved_events %>
  </div>
<% end %>
