<div class="span12">
  <div class="h1">
    Past Events
    <div id="sublinks">
      <span class="sublink"><%= link_to "Events Chart", charts_events_path %></span>
    </div>
  </div>
  <div id="events">
    <%= render @events %>
  </div>
  
  <%= will_paginate @events %>
  
</div>