<div class="row">
  <div class="span12">
    <h1>Event List</h1>
  </div>
  <div class="span12">
    <div class="actions">
      <h4><%= link_to "Create an event", new_event_path %></h4>
    </div>
  </div>
</div>

<%= render @events %>
<%= will_paginate @events %> 