<%= div_for @event do %>
  <div class="row">
    <div class="span12">
      <%= render partial: "events/event_description", locals: { event: @event } %>
      <%= render :partial => "problems/problem", :locals => { :event => @event } %>  
      <% if @event.resolved? %>
        <%= render :partial => "resolutions/resolution", :locals => { :event => @event } %>
      <% end %>
    </div>
  </div>
<% end %>
