<h1>Server Types</h1>
<h4 class="admin"><%= link_to 'Create a new type', new_server_type_path %></h4>
<br />

<table class="table table-bordered table-hover">
  <tr>
    <th>Server Type</th>
    <th></th>
    <th></th>
  </tr>

<% @server_types.each do |server_type| %>
  <tr>
    <td><%= server_type.value %></td>
    <td><%= link_to 'Edit', edit_server_type_path(server_type) %></td>
    <td><%= link_to 'Delete', server_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "danger" %></td>
  </tr>
<% end %>
</table>