<%= render :partial => "server_details", :locals => { :server => @database_server } %>

<div class="field">
  <p><strong>Databases Hosted</strong></p>
  <p><%= databases_for @database_server %></p>
</div>