<%= render :partial => "server_details", :locals => { :server => @application_server } %>

<div class="field">
  <p><strong>Sites</strong></p>
  <p><%= sites_for @application_server %></p>
</div>

<div class="field">
  <p><strong>Urls</strong></p>
  <p><%= site_urls_for @application_server %></p>
</div>