// Place all the styles related to the completions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.completion {
  padding: 1em;
  background-color: #F8F8F8;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-color: #CFCFCF;
  border-width: 1px;
}

#completion {
  margin-bottom: 1em;
}

#completion_form {
  padding: 1em;
  background-color: white;
  border: solid;
  border-color: #CFCFCF;
  border-width: 1px;
}

#completion_description {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
}