// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  border: solid;
  border-color: #E5E5E5;
  border-width: 1px;
}

#inputs {
  margin-top: 1em;
  float: left;
  margin-bottom: 1em;
}

#inputs.large {
  width: 100%;
}

#inputs.large input{
  border-radius: 0px;
  padding: 1em;
}

#inputs.large input.btn{
  border-radius: 5px;
}

.password_reset {
  float: right;
}

form.login {
  padding: 0px;
  margin: 0px;
}