// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#status_form {
  padding: 1em;
  background-color: white;
  border: solid;
  border-color: #CFCFCF;
  border-width: 1px;
}

.status {
  text-align: center;
  padding: 1em;
  border-width: 5px;
  border: solid;
  border-color: black;
  margin-bottom: 1em;
}

#status {
  padding: 1em;
  background-color: white;
  border: solid;
  border-color: #CFCFCF;
  border-width: 1px;
  margin-bottom: 1em;
}

.status.large {
  font-size: x-large;
  font-weight: bold;
}

.status.small {
  font-size: large;
}