// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.subscription input.button_to {
  background: none !important;
  border: none; 
  padding:0 !important;
  margin:0 !important;
  color: green;
  font-weight: bold;
}

div .subscription form {
  padding: 0px;
  margin: 0px;
}