// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_form {
  padding: 1em;
  background-color: white;
  border: solid;
  border-color: #CFCFCF;
  border-width: 1px;
}

.user {
  padding: 1em;
  background-color: white;
  border: solid;
  border-color: #CFCFCF;
  border-width: 1px;
  margin-bottom: 1em;
  position: relative;
}

#user {
  padding: 1em;
  background-color: white;
  border: solid;
  border-color: #CFCFCF;
  border-width: 1px;
  margin-bottom: 1em;
}

div.user .actions {
  position:absolute;
  right: 0; 
  bottom: 1em;
}