<fieldset>
  <div class="control-group">
    <%= f.text_field :name, :placeholder => "URL" %>
    <%= f.text_field :check_string, :placeholder => "Check String" %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_fields" %>
  </div>
</fieldset>