<h1>Site List</h1>
<h4 class="admin"><%= link_to "Create a new site", new_site_path %></h4>
<br />

<%= render partial: "simple_search", locals: { path: sites_path } %>

<table id="sites" class="table table-bordered table-hover">
  <tr>
    <th>Site Name</th>
    <th>Environment</th>
    <th>Site Urls</th>
    <th>Uptime</th>
    <th></th>
    <th class="admin"></th>
    <th class="admin"></th>
  </tr>
  <%= render @sites %>
</table>

<%= will_paginate @sites %> 