<h1>Site List</h1>
<h4 class="admin"><%= link_to "Create a new site", new_site_path %></h4>

<table id="sites" class="table table-bordered table-hover">
  <tr>
    <th>Site Name</th>
    <th>Site Urls</th>
    <th></th>
    <th class="admin"></th>
    <th class="admin"></th>
  </tr>
  <%= render @sites %>
</table>